PROXY_PORT=8080
# # If using open router with OpenAI SKD
# BASE_URL=https://openrouter.ai/api/v1

# If using open router with Claude Code
# BASE_URL=https://openrouter.ai/api

# If using a local ollama instance on the host machine, use:
BASE_URL=http://host.docker.internal:11434

# To Kill long request (Infinte generation loops with local models)
GLOBAL_TIMEOUT = 150

# Retry on Rate Limits
MAX_RETRIES = 3
BASE_DELAY = 3.0
